/* importing required google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courgette&display=swap');
.main-title {
  font-family: 'Berkshire Swash', cursive;
  background: #E96E49;
background: repeating-linear-gradient(to right, #E96E49 0%, #49F366 78%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  padding-top: 5px;
  margin-left: 3rem;
  text-shadow: #dde0de;
}
.nav-main {
  padding-top: 2px;
  padding-bottom: 20px;
}
ul {
  position: absolute;
  right: 4rem;
}
.link_name {
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
}
.link_name:hover {
  background-clip: text;
  background: #E96E49;
  background: repeating-linear-gradient(to right, #E96E49 0%, #49F366 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo{
  width: 40px;
  margin-right: 15px;
}


//pdf

.App {
  font-family: sans-serif;
  text-align: center;
}

h4 {
  text-align: left;
  margin-left: 40px;
}

hr {
  border-top: 2px dotted #3f51b5;
}

button {
  margin-right: 10px;
  background: #3f51b5;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px #ccc;
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}
