/* importing required google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courgette&display=swap");
.main-title {
  font-family: "Berkshire Swash", cursive;
  background: #e96e49;
  background: repeating-linear-gradient(to right, #e96e49 0%, #49f366 78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 5px;
  margin-left: 3rem;
  text-shadow: #dde0de;
}
.nav-main {
  padding-top: 2px;
  padding-bottom: 20px;
}
ul {
  position: absolute;
  right: 4rem;
}
link-names {
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
}
link-names:hover {
  background-clip: text;
  background: #e96e49;
  background: repeating-linear-gradient(to right, #e96e49 0%, #49f366 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.logo {
  width: 40px;
  margin-right: 15px;
}
